@font-face {
  font-family: "GT Alphina";
  src: url("/fonts/GT Alphina/GT-Alpina-Fine-Condensed-Thin-Italic-Trial.woff2") format("woff2"), url("/fonts/GT Alphina/GT-Alpina-Fine-Condensed-Thin-Italic-Trial.otf") format("otf");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "GT Alphina";
  src: url("/fonts/GT Alphina/GT-Alpina-Fine-Condensed-Thin-Trial.woff2") format("woff2"), url("/fonts/GT Alphina/GT-Alpina-Fine-Condensed-Thin-Trial.otf") format("otf");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Sequel Sans";
  src: url("/fonts/Sequel Sans/Sequel Sans Medium Body.otf") format("otf"), url("/fonts/Sequel Sans/Sequel Sans Medium Body.ttf") format("truetype");
}
:root {
  --color-white: #ffffff;
  --color-black: #000000;
  --color-olive: #5D551D;
}

::selection {
  color: var(--color-olive);
  background-color: var(--color-white);
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: var(--color-olive, red);
  min-height: 100vh;
}

._italic {
  font-style: italic;
}

._nowrap {
  white-space: nowrap;
}

@media only screen and (min-width: 1025px) {
  .desktop-grid {
    display: grid;
    position: relative;
    grid-template-columns: max(706px, 64.5%) 1fr;
    grid-template-areas: "first third" "second third" ". third";
    max-width: 1440px;
    margin: 0 auto;
  }
}
@media only screen and (min-width: 1025px) {
  .desktop-grid__first.container {
    grid-area: first;
    position: static;
  }
}
@media only screen and (min-width: 1025px) {
  .desktop-grid__second.container {
    grid-area: second;
  }
}
@media only screen and (min-width: 1025px) {
  .desktop-grid__third.container {
    grid-area: third;
    padding-top: 845px;
  }
}

.container {
  position: relative;
  padding-top: 40px;
}
@media only screen and (min-width: 1025px) {
  .container {
    padding-top: 0;
  }
}
.container_narrow {
  width: calc(100% - 64px);
  margin: auto;
}
.container_without-padding {
  padding-top: 0;
}

.logo-wrap {
  display: flex;
  justify-content: center;
}
@media only screen and (min-width: 1025px) {
  .logo-wrap {
    padding-top: 71px;
    justify-content: space-between;
    padding-left: 256px;
  }
}

.heading {
  font-family: "Sequel Sans", Arial, sans-serif;
  font-size: 37px;
  line-height: 48px;
  margin: 0;
  font-weight: normal;
  color: var(--color-white);
  z-index: 100;
}
@media only screen and (min-width: 1025px) {
  .heading {
    font-size: 55px;
    line-height: 60px;
  }
}
.heading_top {
  padding-top: 30px;
}
@media only screen and (min-width: 1025px) {
  .heading_top {
    padding-top: 0;
    position: absolute;
    left: 50%;
    transform: translate(232px, 360px);
    width: 420px;
    font-weight: 300;
    letter-spacing: -2px;
  }
}
@media only screen and (min-width: 1025px) and (max-width: 1300px) {
  .heading_top {
    width: 20%;
    transform: translate(232px, 95px);
  }
}
.heading_bottom {
  padding-top: 46px;
}
@media only screen and (min-width: 1025px) {
  .heading_bottom {
    padding-top: 3px;
    letter-spacing: -2px;
  }
}

.coords {
  position: absolute;
  padding-bottom: 7px;
  border-bottom: 1px solid var(--color-white);
  font-family: "Sequel Sans", Arial, sans-serif;
  color: var(--color-white);
  letter-spacing: 1px;
  font-size: 15px;
  z-index: 100;
}
.coords_top {
  top: 56px;
  right: 0;
  padding-right: min(27.4%, 238px);
}
@media only screen and (min-width: 1025px) {
  .coords_top {
    top: 27px;
  }
}
.coords_bottom {
  bottom: 0;
  left: 0;
  padding-left: min(31%, 164px);
}
@media only screen and (min-width: 1025px) {
  .coords_bottom {
    top: 657px;
    bottom: auto;
  }
}
@media only screen and (min-width: 1025px) and (max-width: 1400px) {
  .coords_bottom {
    top: 790px;
  }
}

.images-block-top {
  margin: 0 auto;
  max-width: 712px;
  padding-top: 82px;
  width: 100%;
  display: grid;
  grid-template-columns: minmax(0, 1fr) 54% minmax(0, 1fr);
  overflow: hidden;
  grid-template-areas: ". img1 ." "img2 img1 ." "img2 . img3" ". . img3";
}
@media only screen and (min-width: 1025px) {
  .images-block-top {
    position: relative;
    left: 16px;
    padding-top: 44px;
    margin-right: 0;
    transform: translateX(147px);
    overflow: visible;
    z-index: 1;
  }
}
.images-block-top__image-wrap {
  position: relative;
  width: 100%;
}
.images-block-top__image-wrap_first {
  grid-area: img1;
  height: calc(100% - 4px);
}
.images-block-top__image-wrap_second {
  grid-area: img2;
}
.images-block-top__image-wrap_third {
  grid-area: img3;
  aspect-ratio: 0.6;
}
.images-block-top__image {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.images-block-top__image-wrap_second .images-block-top__image {
  position: absolute;
  top: 26px;
  right: 0;
  height: 100%;
  width: auto;
}
@media only screen and (min-width: 1025px) {
  .images-block-top__image-wrap_second .images-block-top__image {
    top: 50px;
  }
}
.images-block-top__image-wrap_third .images-block-top__image {
  position: absolute;
  transform: translateY(-3px);
  left: 0;
  height: 100%;
  width: auto;
}
@media only screen and (min-width: 1025px) {
  .images-block-top__image-wrap_third .images-block-top__image {
    height: calc(100% - 2px);
  }
}

.images-block-top-caption {
  font-family: "GT Alphina", serif;
  font-size: 32px;
  line-height: 40px;
  width: 300px;
  padding-top: 12px;
  padding-right: 32px;
  padding-bottom: 67px;
  text-align: right;
  font-weight: 300;
  font-style: normal;
  margin-left: auto;
  color: var(--color-white);
  z-index: 100;
}
@media only screen and (min-width: 768px) {
  .images-block-top-caption {
    position: relative;
    right: calc(50% - 180px);
    margin-top: -125px;
    padding-block: 0;
    padding-right: 25px;
    transform: translateY(-135px);
  }
}
@media only screen and (min-width: 1025px) {
  .images-block-top-caption {
    right: 0;
  }
}

.dreaming-block__bg {
  position: relative;
  width: 100%;
  height: 618px;
  overflow: hidden;
}
.dreaming-block__bg-image {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
.dreaming-block__content {
  position: absolute;
  bottom: 33px;
  font-family: "GT Alphina", serif;
  font-size: 32px;
  line-height: 36px;
  color: #F5F5F3;
  padding-inline: 32px;
  letter-spacing: 0.2px;
}
@media only screen and (min-width: 1025px) {
  .dreaming-block__content {
    bottom: 40px;
    left: 51.7%;
    transform: translateX(-50%);
    padding: 0;
  }
}
@media only screen and (min-width: 1025px) {
  .dreaming-block__first-line {
    display: inline;
  }
}

.images-block-bottom {
  width: 100%;
  display: grid;
  grid-template-columns: 38% minmax(0, 1fr) 12%;
  grid-template-areas: ". img1 ." "img2 img3 img3";
  max-width: 420px;
  margin: 0 auto;
}
@media only screen and (min-width: 1025px) {
  .images-block-bottom {
    grid-template-columns: max(190px, 37.5%) minmax(0, 1fr) 12.6%;
    margin: 0;
    max-width: none;
  }
}
.images-block-bottom__image-wrap {
  position: relative;
  width: 100%;
}
.images-block-bottom__image-wrap_first {
  grid-area: img1;
  height: calc(100% - 4px);
}
.images-block-bottom__image-wrap_second {
  grid-area: img2;
}
.images-block-bottom__image-wrap_third {
  grid-area: img3;
}
.images-block-bottom__image {
  position: relative;
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.images-block-bottom__image-wrap_second .images-block-bottom__image {
  position: absolute;
  right: 0;
  top: 21%;
  height: auto;
  width: 100%;
  transform: translateY(-6px);
}
.images-block-bottom__image-wrap_third .images-block-bottom__image {
  transform: translateY(-4px);
}

.step-up-to-date {
  padding-inline: 32px;
}
@media only screen and (min-width: 1025px) {
  .step-up-to-date {
    display: grid;
    grid-template-columns: 420px 1fr;
    padding-inline: 0;
    max-width: 1440px;
    margin: -6px auto 0;
  }
}
.step-up-to-date__column_image-wrap {
  display: none;
}
@media only screen and (min-width: 1025px) {
  .step-up-to-date__column_image-wrap {
    display: block;
    height: 525px;
  }
}
.step-up-to-date__column_form {
  max-width: 420px;
  margin: 0 auto;
}
@media only screen and (min-width: 1025px) {
  .step-up-to-date__column_form {
    max-width: none;
  }
}

.submit-form {
  margin-bottom: 80px;
}
@media only screen and (min-width: 1025px) {
  .submit-form {
    width: 576px;
    margin: 0 auto;
    padding-right: 4px;
  }
}
.submit-form__text {
  padding-top: 22px;
  margin-right: 4px;
  margin-bottom: 32px;
  font-family: "GT Alpha", serif;
  font-size: 32px;
  line-height: 40px;
  font-weight: 300;
  color: var(--color-white);
  letter-spacing: -1px;
}
@media only screen and (min-width: 1025px) {
  .submit-form__text {
    padding-top: 16px;
    letter-spacing: -1.3px;
  }
}
.submit-form__input {
  display: block;
  width: 100%;
  background-color: transparent;
  border: none;
  text-transform: uppercase;
  font-family: "Sequel Sans", Arial, sans-serif;
  font-size: 18px;
  color: var(--color-white);
  padding-block: 18px;
  border-bottom: 1px solid #9E9977;
}
.submit-form__input:first-of-type {
  margin-bottom: 23px;
}
.submit-form__input:last-of-type {
  margin-bottom: 48px;
}
.submit-form__input::placeholder {
  color: var(--color-white);
}
.submit-form__submit {
  display: block;
  background-color: var(--color-black);
  font-family: "GT Alpha", serif;
  color: var(--color-white);
  font-size: 20px;
  letter-spacing: 1px;
  width: 100%;
  padding-block: 9px;
  cursor: pointer;
  border: 3px solid var(--color-black);
  transition: background-color 0.3s ease-out;
}
@media only screen and (min-width: 1025px) {
  .submit-form__submit {
    width: 192px;
  }
}
.submit-form__submit:hover {
  background-color: var(--color-olive);
}

.footer {
  padding-top: 25px;
  padding-bottom: 72px;
  background-color: var(--color-black);
}
@media only screen and (min-width: 1025px) {
  .footer {
    padding-top: 87px;
    padding-bottom: 51px;
  }
}
.footer__preview {
  margin-bottom: 8px;
  max-width: 1123px;
}
@media only screen and (min-width: 1025px) {
  .footer__preview {
    margin-bottom: 41px;
  }
}
.footer__info {
  max-width: 1123px;
}
@media only screen and (min-width: 1025px) {
  .footer__info-row {
    display: flex;
    justify-content: space-between;
    padding-bottom: 13px;
  }
}
.footer__pacific-wrap {
  display: flex;
  justify-content: space-between;
  padding-bottom: 14px;
  border-bottom: 1px solid var(--color-white);
  margin-bottom: 15px;
}
@media only screen and (min-width: 1025px) {
  .footer__pacific-wrap {
    padding-bottom: 26px;
  }
}
.footer__pacific {
  display: block;
  height: 45px;
}
@media only screen and (min-width: 1025px) {
  .footer__pacific {
    height: 73px;
  }
}
.footer__pacific-image {
  height: 100%;
}
.footer__coordinates {
  display: flex;
  justify-content: space-between;
  font-family: "Sequel Sans", Arial, sans-serif;
  font-size: 13px;
  letter-spacing: 1px;
  color: var(--color-white);
}
.footer__text {
  font-family: "GT Alpha", serif;
  color: var(--color-white);
  font-size: 24px;
  letter-spacing: -0.5px;
  padding-bottom: 31px;
}
@media only screen and (min-width: 1025px) {
  .footer__text {
    padding-bottom: 0;
  }
}
.footer__text_credits {
  padding-top: 8px;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0;
}
.footer__text-link {
  color: var(--color-white);
  transition: color 0.3s ease-out;
}
.footer__text-link:hover, .footer__text-link:focus-visible {
  color: var(--color-olive);
}
.footer__aloha {
  position: relative;
  padding-top: 38px;
  display: block;
  left: calc(50% - 36px);
  width: 68px;
}
@media only screen and (min-width: 1025px) {
  .footer__aloha {
    padding-top: 53px;
    left: calc(50% - 28px);
  }
}

/*# sourceMappingURL=styles.css.map */
